<div id="school-board" class="container-fluid">
  <h1>School</h1>
  <div class="row">
    <div id="klasses" class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Classes</b>
          <a type="button" href="#" class="pull-right" data-toggle="modal" data-target="#new_klass">
            <%= fa_icon "plus-square" %>
          </a>
        </div>
        <div id="klasses-list" class="list-group">
            <%= render @klasses  %>
             <!-- refers to @klasses in index action and partial _klass.html.erb by convection -->
            <%# render (partial: 'klasses/klass', locals: {klass: @klasses})  %>
            <!-- by configuration -->
          </div>
      </div>
    </div>

    <div id="sections" class="col-md-2 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Sections</b>
          <!-- <a type="button" href="#" class="pull-right">
            <%= fa_icon "plus-square" %>
          </a> -->
          <%= link_to fa_icon("plus-square"), "#", class: "pull-right", remote:  true %>
        </div>
        <div id="sections-list" class="list-group">

        </div>
      </div>
    </div>

    <div id="students" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Students</b>
          <%= link_to fa_icon("plus-square"), "#", id: "add-student-trigger", class: "pull-right", remote:  true %>
          <span class= "pull-right">&nbsp; &nbsp;</span>
          <%= link_to fa_icon("hand-o-up"), "#",id: "take-attendence-trigger", class: "pull-right", remote:  true %>
        </div>
        <div id="students-list" class="list-group">

        </div>
      </div>
    </div>

    <div id="attendance" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Attendance</b>
          <%= link_to "Submit", "#",id: "submit-attendance", class: "btn btn-sm btn-primary pull-right", remote:  true %>
          <span class= "pull-right btn btn-sm">&nbsp; or &nbsp;</span>
          <%= link_to "Cancel", "#", id: "cancel-attendance", class: "btn btn-sm btn-default pull-right", remote:  true %>
        </div>
        <div id="attentants-list" class="list-group">

        </div>
      </div>
    </div>

    <div id="student-details" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Student Details</b>
          <%= link_to fa_icon("pencil-square-o"), "#", class: "pull-right", remote:  true %>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

  </div>
</div>


<%= render partial: 'klasses/form' %>
